<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="theme fixed" fixedInViewport="true"

               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">

    <mat-toolbar class="theme title">Quiz Pro Quo</mat-toolbar>

    <mat-nav-list class="sidenav">

      <a class="list-item" disableRipple class="theme" mat-list-item matLine routerLink='/home'
         routerLinkActive="active-list-item">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a class="list-item" disableRipple class="theme" mat-list-item matLine routerLink='/questions'
         routerLinkActive="active-list-item">
        <mat-icon>list</mat-icon>
        Make A Quiz
      </a>
      <a class="list-item" disableRipple class="theme" mat-list-item matLine routerLink='/quiz'
         routerLinkActive="active-list-item">
        <mat-icon>list</mat-icon>
        Take A Quiz
      </a>
      <a class="list-item" disableRipple class="theme" mat-list-item matLine routerLink='/reporting'
         routerLinkActive="active-list-item">
        <mat-icon>bar_chart</mat-icon>
        Summary
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="theme fixed index">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Content -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
