<div style="height: 60px;"></div>
<h2 style="text-align: center;">Average Score</h2>

<div style="align-content: center;padding-left: 15px;">
  <div style="width: 80%;min-width: 500px;padding: 15px 15px 15px 10%;display: block;">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [colors]="colors"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>

</div>

